.game-board {
    background-color: rgb(43, 43, 43);
    padding: 20px;
    padding-top: 35px;
}

.grid-container {
    width: 45%;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding-top: 5px;
}

.grid-container div{
    height: 150px;
    border-radius: 20px;
    opacity: 1;
    transition: opacity 0.9s;
}
